#!/bin/sh
#
# PROVIDE: secretkeeper
# REQUIRE: NETWORKING FILESYSTEMS
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf to enable secretkeeper:
#
#  secretkeeper_enable="YES"
#

. /etc/rc.subr

name=secretkeeper
rcvar=secretkeeper_enable

load_rc_config $name

: ${secretkeeper_enable:="NO"}
: ${secretkeeper_config:="/usr/local/etc/secretkeeper/config.toml"}
: ${secretkeeper_user:="root"}
: ${secretkeeper_group:="wheel"}

pidfile="/var/run/${name}.pid"
command="/usr/local/bin/secretkeeper-agent"
command_args="--config ${secretkeeper_config}"

start_cmd="${name}_start"
stop_cmd="${name}_stop"
status_cmd="${name}_status"

secretkeeper_start()
{
    echo "Starting ${name}."
    /usr/sbin/daemon -p ${pidfile} -u ${secretkeeper_user} ${command} ${command_args}
}

secretkeeper_stop()
{
    if [ -f ${pidfile} ]; then
        echo "Stopping ${name}."
        kill -TERM $(cat ${pidfile})
        rm -f ${pidfile}
    else
        echo "${name} is not running."
    fi
}

secretkeeper_status()
{
    if [ -f ${pidfile} ]; then
        echo "${name} is running as pid $(cat ${pidfile})."
    else
        echo "${name} is not running."
        return 1
    fi
}

run_rc_command "$1"
