## <summary>SecretKeeper secret exfiltration prevention daemon</summary>

########################################
## <summary>
##     Execute secretkeeper in the secretkeeper domain.
## </summary>
## <param name="domain">
##     <summary>
##     Domain allowed to transition.
##     </summary>
## </param>
#
interface(`secretkeeper_domtrans',`
    gen_require(`
        type secretkeeper_t, secretkeeper_exec_t;
    ')

    corecmd_search_bin($1)
    domtrans_pattern($1, secretkeeper_exec_t, secretkeeper_t)
')

########################################
## <summary>
##     Read secretkeeper configuration files.
## </summary>
## <param name="domain">
##     <summary>
##     Domain allowed access.
##     </summary>
## </param>
#
interface(`secretkeeper_read_config',`
    gen_require(`
        type secretkeeper_etc_t;
    ')

    files_search_etc($1)
    read_files_pattern($1, secretkeeper_etc_t, secretkeeper_etc_t)
')

########################################
## <summary>
##     Connect to secretkeeper over a unix stream socket.
## </summary>
## <param name="domain">
##     <summary>
##     Domain allowed access.
##     </summary>
## </param>
#
interface(`secretkeeper_stream_connect',`
    gen_require(`
        type secretkeeper_t, secretkeeper_var_run_t;
    ')

    files_search_pids($1)
    stream_connect_pattern($1, secretkeeper_var_run_t, secretkeeper_var_run_t, secretkeeper_t)
')
